# WiFi
CONFIG_WIRELESS=n
CONFIG_WEXT_CORE=n
CONFIG_WEXT_PROC=n
CONFIG_CFG80211=n
CONFIG_CFG80211_WEXT=n

# Bluetooth device drivers
CONFIG_BT_HCIBTUSB=n
CONFIG_BT_HCIBTUSB_BCM=n
CONFIG_BT_HCIBTUSB_MTK=n
CONFIG_BT_HCIBTUSB_RTL=n
CONFIG_BT_HCIBTSDIO=n
CONFIG_BT_HCIUART=n
CONFIG_BT_HCIUART_INTEL=n
CONFIG_BT_HCIUART_BCM=n
CONFIG_BT_HCIUART_RTL=n
CONFIG_BT_HCIUART_QCA=n
CONFIG_BT_HCIUART_AG6XX=n
CONFIG_BT_HCIUART_MRVL=n
CONFIG_BT_MRVL=n
CONFIG_BT_MRVL_SDIO=n
CONFIG_BT_MTKSDIO=n
CONFIG_BT_MTKUART=n

# Multimedia core support
CONFIG_MEDIA_SUPPORT=n
CONFIG_MEDIA_SUPPORT_FILTER=n
CONFIG_MEDIA_SUBDRV_AUTOSELECT=n
CONFIG_MEDIA_CONTROLLER=n
CONFIG_MEDIA_CONTROLLER_DVB=n
CONFIG_MEDIA_CAMERA_SUPPORT=n
CONFIG_MEDIA_ANALOG_TV_SUPPORT=n
CONFIG_MEDIA_DIGITAL_TV_SUPPORT=n
CONFIG_MEDIA_USB_SUPPORT=n
CONFIG_VIDEO_DEV=n
CONFIG_VIDEO_V4L2_SUBDEV_API=n
CONFIG_VIDEO_TVEEPROM=n
CONFIG_VIDEOBUF2_CORE=n
CONFIG_VIDEOBUF2_V4L2=n
CONFIG_VIDEOBUF2_MEMOPS=n
CONFIG_VIDEOBUF2_VMALLOC=n
CONFIG_MEDIA_PLATFORM_SUPPORT=n
CONFIG_MEDIA_PLATFORM_DRIVERS=n
CONFIG_V4L_PLATFORM_DRIVERS=n

# Webcam devices
CONFIG_USB_VIDEO_CLASS=n
CONFIG_USB_VIDEO_CLASS_INPUT_EVDEV=n
CONFIG_USB_GSPCA=n
CONFIG_USB_M5602=n
CONFIG_USB_STV06XX=n
CONFIG_USB_GL860=n
CONFIG_USB_GSPCA_BENQ=n
CONFIG_USB_GSPCA_CONEX=n
CONFIG_USB_GSPCA_CPIA1=n
CONFIG_USB_GSPCA_DTCS033=n
CONFIG_USB_GSPCA_ETOMS=n
CONFIG_USB_GSPCA_FINEPIX=n
CONFIG_USB_GSPCA_JEILINJ=n
CONFIG_USB_GSPCA_JL2005BCD=n
CONFIG_USB_GSPCA_KINECT=n
CONFIG_USB_GSPCA_KONICA=n
CONFIG_USB_GSPCA_MARS=n
CONFIG_USB_GSPCA_MR97310A=n
CONFIG_USB_GSPCA_NW80X=n
CONFIG_USB_GSPCA_OV519=n
CONFIG_USB_GSPCA_OV534=n
CONFIG_USB_GSPCA_OV534_9=n
CONFIG_USB_GSPCA_PAC207=n
CONFIG_USB_GSPCA_PAC7302=n
CONFIG_USB_GSPCA_PAC7311=n
CONFIG_USB_GSPCA_SE401=n
CONFIG_USB_GSPCA_SN9C2028=n
CONFIG_USB_GSPCA_SN9C20X=n
CONFIG_USB_GSPCA_SONIXB=n
CONFIG_USB_GSPCA_SONIXJ=n
CONFIG_USB_GSPCA_SPCA500=n
CONFIG_USB_GSPCA_SPCA501=n
CONFIG_USB_GSPCA_SPCA505=n
CONFIG_USB_GSPCA_SPCA506=n
CONFIG_USB_GSPCA_SPCA508=n
CONFIG_USB_GSPCA_SPCA561=n
CONFIG_USB_GSPCA_SPCA1528=n
CONFIG_USB_GSPCA_SQ905=n
CONFIG_USB_GSPCA_SQ905C=n
CONFIG_USB_GSPCA_SQ930X=n
CONFIG_USB_GSPCA_STK014=n
CONFIG_USB_GSPCA_STK1135=n
CONFIG_USB_GSPCA_STV0680=n
CONFIG_USB_GSPCA_SUNPLUS=n
CONFIG_USB_GSPCA_T613=n
CONFIG_USB_GSPCA_TOPRO=n
CONFIG_USB_GSPCA_TOUPTEK=n
CONFIG_USB_GSPCA_TV8532=n
CONFIG_USB_GSPCA_VC032X=n
CONFIG_USB_GSPCA_VICAM=n
CONFIG_USB_GSPCA_XIRLINK_CIT=n
CONFIG_USB_GSPCA_ZC3XX=n
CONFIG_USB_PWC=n
CONFIG_USB_PWC_INPUT_EVDEV=n
CONFIG_USB_S2255=n

# Analog capture USB devices
CONFIG_VIDEO_USBTV=n
CONFIG_VIDEO_PVRUSB2=n
CONFIG_VIDEO_PVRUSB2_SYSFS=n
CONFIG_VIDEO_PVRUSB2_DVB=n
CONFIG_VIDEO_HDPVR=n
CONFIG_VIDEO_STK1160=n

# Analog/digital capture USB devices
CONFIG_VIDEO_AU0828=n
CONFIG_VIDEO_AU0828_V4L2=n
CONFIG_VIDEO_CX231XX=n
CONFIG_VIDEO_CX231XX_ALSA=n
CONFIG_VIDEO_CX231XX_DVB=n
CONFIG_VIDEO_CX2341X=n

# Webcam/capture (analog/digital) USB devices
CONFIG_VIDEO_EM28XX=n
CONFIG_VIDEO_EM28XX_V4L2=n
CONFIG_VIDEO_EM28XX_ALSA=n
CONFIG_VIDEO_EM28XX_DVB=n

# Audio devices (USB/PCI)
CONFIG_SND_USB_AUDIO=n

# Can Bus support
CONFIG_CAN=n
CONFIG_CAN_RAW=n
CONFIG_CAN_VCAN=n
CONFIG_CAN_SLCAN=n
CONFIG_CAN_DEV=n
CONFIG_CAN_GS_USB=n
CONFIG_CAN_PEAK_USB=n

# 1-wire
CONFIG_W1=n
CONFIG_W1_MASTER_DS2490=n
CONFIG_W1_MASTER_DS2482=n
CONFIG_W1_MASTER_GPIO=n


CONFIG_SOUND=n
CONFIG_SND=n
CONFIG_SND_TIMER=n
CONFIG_SND_PCM=n
CONFIG_SND_HWDEP=n
CONFIG_SND_RAWMIDI=n
CONFIG_SND_JACK=n
CONFIG_SND_SEQUENCER=n
CONFIG_SND_SEQ_DUMMY=n
CONFIG_SND_OSSEMUL=n
CONFIG_SND_MIXER_OSS=n
CONFIG_SND_PCM_OSS=n
CONFIG_SND_HRTIMER=n

CONFIG_MEDIA_SUPPORT=n
CONFIG_VIDEO_DEV=n
CONFIG_VIDEO_V4L2=n
CONFIG_V4L_MEM2MEM_DRIVERS=n
CONFIG_VIDEOBUF2_CORE=n
CONFIG_VIDEOBUF2_MEMOPS=n
CONFIG_VIDEOBUF2_VMALLOC=n
CONFIG_DVB_CORE=n
CONFIG_DVB_DRIVERS=n
CONFIG_RC_CORE=n
CONFIG_RC_DECODERS=n
CONFIG_IR_RC5_DECODER=n
CONFIG_IR_NEC_DECODER=n
CONFIG_IR_RC6_DECODER=n
CONFIG_IR_JVC_DECODER=n
CONFIG_IR_SONY_DECODER=n
CONFIG_IR_SANYO_DECODER=n
CONFIG_IR_SHARP_DECODER=n
CONFIG_IR_MCE_KBD_DECODER=n
CONFIG_IR_XMP_DECODER=n
CONFIG_USB_VIDEO_CLASS=n
CONFIG_USB_GSPCA=n
CONFIG_WLAN=n
CONFIG_CFG80211=n
CONFIG_MAC80211=n

# Disable specific wireless drivers
CONFIG_ATH_COMMON=n
CONFIG_ATH9K=n
CONFIG_ATH9K_HTC=n
CONFIG_ATH6KL=n
CONFIG_AR5523=n
CONFIG_CARL9170=n
CONFIG_ZD1211RW=n
CONFIG_RTL8187=n
CONFIG_RTL_CARDS=n
CONFIG_B43=n
CONFIG_B43LEGACY=n
CONFIG_BRCMUTIL=n
CONFIG_BRCMSMAC=n
CONFIG_HOSTAP=n
CONFIG_IWLWIFI=n
CONFIG_LIBERTAS=n
CONFIG_P54_COMMON=n
CONFIG_P54_USB=n
CONFIG_RT2X00=n
CONFIG_RTL8192CE=n
CONFIG_RTL8192CU=n
CONFIG_RTLWIFI=n
CONFIG_WL1251=n
CONFIG_WL12XX=n
CONFIG_WL18XX=n
CONFIG_WLCORE=n
CONFIG_IPW2100=n
CONFIG_IPW2200=n
CONFIG_IWM=n
CONFIG_MWIFIEX=n
CONFIG_TI_WL12XX=n

# RAID
CONFIG_MD=n
CONFIG_BLK_DEV_MD=n
CONFIG_MD_LINEAR=n
CONFIG_MD_RAID0=n
CONFIG_MD_RAID1=n
CONFIG_MD_RAID10=n
CONFIG_MD_RAID456=n
CONFIG_MD_MULTIPATH=n
CONFIG_MD_FAULTY=n
CONFIG_MD_CLUSTER=n

CONFIG_IIO=n

CONFIG_USB_WACOM=n
CONFIG_INPUT_WACOM=n

CONFIG_INPUT_TOUCHSCREEN=n

# Disable joystick and gamepad support
CONFIG_INPUT_JOYSTICK=n
CONFIG_JOYSTICK_ANALOG=n
CONFIG_JOYSTICK_A3D=n
CONFIG_JOYSTICK_ADI=n
CONFIG_JOYSTICK_COBRA=n
CONFIG_JOYSTICK_GF2K=n
CONFIG_JOYSTICK_GRIP=n
CONFIG_JOYSTICK_GRIP_MP=n
CONFIG_JOYSTICK_INTERACT=n
CONFIG_JOYSTICK_SIDEWINDER=n
CONFIG_JOYSTICK_TMDC=n
CONFIG_JOYSTICK_IFORCE=n
CONFIG_JOYSTICK_WARRIOR=n
CONFIG_JOYSTICK_MAGELLAN=n
CONFIG_JOYSTICK_SPACEORB=n
CONFIG_JOYSTICK_SPACEBALL=n
CONFIG_JOYSTICK_STINGER=n
CONFIG_JOYSTICK_TWIDJOY=n
CONFIG_JOYSTICK_ZHENHUA=n

# Disable joystick device interface (joydev)
CONFIG_INPUT_JOYDEV=n

# Disable gameport support
CONFIG_GAMEPORT=n

# Disable mouse support
CONFIG_INPUT_MOUSE=n
CONFIG_MOUSE_PS2=n
CONFIG_MOUSE_SERIAL=n
CONFIG_MOUSE_APPLETOUCH=n
CONFIG_MOUSE_BCM5974=n
CONFIG_MOUSE_CYAPA=n
CONFIG_MOUSE_ELAN_I2C=n
CONFIG_MOUSE_ELAN_I2C_I2C=n
CONFIG_MOUSE_VSXXXAA=n

CONFIG_EXT2_FS=n
CONFIG_JBD=n
CONFIG_JBD2=n
CONFIG_REISERFS=n
CONFIG_REISERFS_FS=n
CONFIG_EROFS_FS=n
CONFIG_XFS_FS=n
CONFIG_BTRFS_FS=n
CONFIG_F2FS_FS=n
CONFIG_MINIX_FS=n
CONFIG_UFS_FS=n
CONFIG_VXFS_FS=n
CONFIG_ISO9660_FS=n
CONFIG_SQUASHFS=n
CONFIG_EFS_FS=n
CONFIG_HPFS_FS=n
CONFIG_SYSV_FS=n
CONFIG_OCFS2_FS=n
CONFIG_JFS_FS=n
CONFIG_LOGFS=n
CONFIG_EXFAT_FS=n
CONFIG_CIFS=n
CONFIG_NFS_FS=n
CONFIG_NFS_V3=n
CONFIG_NFS_V4=n
CONFIG_NFS_ACL=n
CONFIG_NFSD=n
CONFIG_NFSD_V3=n
CONFIG_NFSD_V4=n
CONFIG_SUNRPC=n
CONFIG_LOCKD=n
CONFIG_RPCSEC_GSS_KRB5=n
CONFIG_CEPH_FS=n
CONFIG_GFS2_FS=n
CONFIG_DLM=n
CONFIG_UBIFS_FS=n
CONFIG_UBIFS_FS_LZO=n
CONFIG_UBIFS_FS_ZLIB=n
CONFIG_SMBFS=n
CONFIG_SMB_NEGOTIATOR=n
CONFIG_NTFS_FS=n

CONFIG_BT_A2DP=n
CONFIG_BT_ATT=n
CONFIG_BT_BREDR=n
CONFIG_BT_CORE=n
CONFIG_BT_GATT=n
CONFIG_BT_HCI=n
CONFIG_BT_HCIBFUSB=n
CONFIG_BT_HCIBTUSB_AIROHA=n
CONFIG_BT_HCIBTUSB_AR3K=n
CONFIG_BT_HCIBTUSB_ATH3K=n
CONFIG_BT_HCIBTUSB_BCSP_HCI=n
CONFIG_BT_HCIBTUSB_BCSP=n
CONFIG_BT_HCIBTUSB_CSR=n
CONFIG_BT_HCIBTUSB_H5_V2=n
CONFIG_BT_HCIBTUSB_H5_V3=n
CONFIG_BT_HCIBTUSB_H5_V4=n
CONFIG_BT_HCIBTUSB_H5_V5=n
CONFIG_BT_HCIBTUSB_H5=n
CONFIG_BT_HCIBTUSB_HCI_V2=n
CONFIG_BT_HCIBTUSB_HCI_V4=n
CONFIG_BT_HCIBTUSB_LINUX=n
CONFIG_BT_HCIBTUSB_LL=n
CONFIG_BT_HCIBTUSB_NOKIA=n
CONFIG_BT_HCIBTUSB_RTL=n
CONFIG_BT_HCIBTUSB_V2=n
CONFIG_BT_HCIBTUSB_V3=n
CONFIG_BT_HCIBTUSB_V4=n
CONFIG_BT_HCIBTUSB_V5=n
CONFIG_BT_HCIBTUSB_V6=n
CONFIG_BT_HCIBTUSB_V7=n
CONFIG_BT_HCIBTUSB_V8=n
CONFIG_BT_HCIBTUSB=n
CONFIG_BT_HCIUART_3WIRE=n
CONFIG_BT_HCIUART_BCSP=n
CONFIG_BT_HCIUART_H4=n
CONFIG_BT_HCIUART_LL_DRIVER=n
CONFIG_BT_HCIUART_LL=n
CONFIG_BT_HCIUART=n
CONFIG_BT_HID=n
CONFIG_BT_HIDP=n
CONFIG_BT_L2CAP=n
CONFIG_BT_RFCOMM_TTY=n
CONFIG_BT_RFCOMM=n
CONFIG_BT_SCO=n
CONFIG_BT_SMP=n
CONFIG_BT=n
