use flake

export ALPINE_VERSION="3.19"
export SDCARD_SIZE_MB="512"
export RPI_FIRMWARE_TAG="1.20250915"
export SDCARD_LABEL="DROPPORTAL"

export WIFI_SSID=""
export WIFI_PSK=""

export BOOT_SERVER_IP="192.168.1.30"
export BOOT_SERVER_PORT="8080"
export BOOT_SERVER_SDCARD=1

export AP_SSID="WORKSHOP-CNC"
export AP_PSK="test1234"
export AP_NET_PREFIX="10.10.10"
export AP_GATEWAY="$AP_NET_PREFIX.1"

. .envrc.local
