[Unit]
Description=Authbox
Requires=systemd-time-wait-sync.service
After=network-online.target
After=systemd-time-wait-sync.service
After=sdcard.mount

[Service]
Type=notify
ExecStartPost=/bin/touch /dev/shm/.healthy
ExecStart=/usr/bin/gauthbox http://control.shop
ExecStopPost=/bin/rm -f /dev/shm/.healthy
Environment=GO_LOG=debug
Restart=always
RestartSec=5
DynamicUser=true
SupplementaryGroups=input
LoadCredential=config:/sdcard/authbox.config.json
Environment=LOCAL_CONFIG_FILE=%d/config

[Install]
WantedBy=multi-user.target
