[Unit]
Description=Authbox
Requires=systemd-time-wait-sync.service
After=network-online.target
# Needed for local config fallback on SD card.
After=sdcard.mount
# Needed so the hostname is correct at launch.
After=systemd-hostnamed.service
After=systemd-time-wait-sync.service

[Service]
Type=notify
ExecStart=/usr/bin/gauthbox http://control.woodshop-zrh
Environment=GO_LOG=debug
Restart=always
RestartSec=5
DynamicUser=true
SupplementaryGroups=input
Environment=LOCAL_CONFIG_FILE=/sdcard/authbox.config.json

[Install]
WantedBy=multi-user.target
